<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <h1>用户注册</h1>
    <form action="/register/" method="post">

        <p>
            <label>邮箱</label>
            <input type="email" name="userEmail">
            <div style="color: red ">{{msg}}</div>
        </p>
        <p>
            <label>密码</label>
            <input type="password" name="userPassword">

        </p>
        <p>
            <label>确认密码</label>
            <input type="password" name="userRePassword">
            <div style="color: red">{{error_msg}}</div>
        </p>
        <p>
            <input type="submit" value="注册">
            <a href="/login/">已有账号？去登录</a>






    </form>
</body>
</html>